@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

@font-face {
    font-family: 'Bamini';
    src: url('../font/BAMINI-Tamil51.ttf') format('truetype');

  }


body {
    margin: 0;
    padding: 0;
    background-color: black;
    color:#fff;
    font-family: 'Dm Sans',sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'DM Sans', sans-serif;
    color: #fff;
}

li 
{
    color: #ffc900;
}

#Home {
    position: relative;
    width: 100%;
    height: 100vh;
}
#backgroundFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
}

/* .navbar-custom {
    backdrop-filter: blur(7px)  saturate(149%);
    -webkit-backdrop-filter: blur(7px);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.05) 0%);
        background: #00000000;
        color: #ffc900;

} */

.navbar-custom a {
    color: #ffc900 !important;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-toggler {
    width : 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffc900;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar {
    margin-top: 0px;

}
/* when navigation is clicked */
.navbar-toggler .top-bar {
    margin-top: -10px;
    transform: rotate();
}

.navbar-toggler .middle-bar {
    margin-top: 0px;
    transform: rotate();
}
.navbar-toggler .bottom-bar {
    margin-top: 10px;
    transform: rotate();
}

/* state when navbar is collapsed */
.navbar-toggler .collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler .collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}


/* Custom hamburger icon styling */
/* .custom-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #ffc900;
    display: block;
    margin: 6px auto;
    transition: background-color 0.3s ease;
} */
/* 
.navbar-toggler.collapsed .custom-toggler-icon {
    background-color: #ffc900; 
} */

.center-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin: 15px;
    height: 90%;
    /* Optional background color */
}

.centered-image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.above-centered-image {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0; /* Reset margin */
    text-align: center; /* Center align text */
    opacity: 1; /* Initially hidden */
    line-height: 1;
    font-family: 'Cinzel';
    width: 100%;
}

.below-centered-image {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0; /* Reset margin */
    text-align: center; /* Center align text */
    opacity: 1; /* Initially hidden */
    line-height: 1;
    width: 90%;    
}
.below-centered-image h1 {
    font-family: 'Cinzel';
}

.slogan {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0; /* Reset margin */
    text-align: center; /* Center align text */
    width: 100%;
   
    
}

.iic-org {
    width: 100%; /* Adjust percentage width as needed */
    max-width: 180px; /* Maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    margin-right: 2%; 

}
.emdc-org {
    width: 90%; /* Adjust percentage width as needed */
    max-width: 80px; /* Maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    margin-left: 2%;
}

@media only screen and (max-width: 600px) {
    .center-container {
        height: 80vh; /* Decrease the height for smaller screens */
    }
}

.hidden {
    display: none; /* Hide initially */
}


/* Custom CSS for the Events Section */
#events {
    margin: 50px;
}
#rules {
    margin: 50px;
}
#about {
    margin: 50px;
}
#contact {
    margin: 50px;
}
#footer {
    margin: 50px;
}

@media screen and (max-width:600px)
{
    #events {
        margin: 20px;
    }
    #rules {
        margin: 20px;
    }
    #about {
        margin: 20px;
    }
    #contact {
        margin: 20px;
    }
    #footer {
        margin: 20px;
    }
}

.hr-rule1{
    display: block;
    height: 0.1px;
    background-color: #ffc400;
    border: 1px solid #ffc900;
    width:0%;
    margin: auto;
    margin-bottom: 1px;
    transition: width 0.1s;
}
.nav-item:hover .hr-rule1{
    width: 80%;
}


.section-head pre{
    font-family: 'Protest Strike', sans-serif;
    color: #000;
    background-color: #ffc900;
}


.row .col .card {
    background-color: #000;
    color: #fff;
}

.nav-pills .nav-link.active img {
    transform: scale(1.3);
     /* Adjust the scale factor as needed */
     transition: transform 1s;
}
.nav-pills .nav-link img:hover {
    transform: scale(1.3);
     /* Adjust the scale factor as needed */
     transition: transform .5s;
}


.nav-pills .nav-link.active img {
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(255, 0, 0); /* Add sparkle effect */
    
  }


.tab-content {
    display: flex;
    justify-items: center;
}


.nav .active{
    background-color: #ffc80000 !important;

}

.tamil
{
    font-family: 'bamini';
    font-size: 50px;
}

/*card.css */

.contenedor {
	height: 100%;
	padding: 5% 0;
}

h1 {
	color: #FCFBFA;
}

.container_foto {
	background-color: rgba(72, 72, 72, 0.7);
	padding: 0;
	overflow: hidden;
	max-width: 350px;
	margin: 5px;
    border-radius: 5px;
    position: relative;
}

.container_foto article {
	padding: 10%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}





.container_foto img {
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.8;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	-ms-transition: all 2s ease;
	transition: all 2s ease;
}

.ver_mas {
	background-color: #ffc900;
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ver_mas a {
	font-size: 30px;
	color: #000;
	position: relative;
	margin: 2 auto;
	width: 100%;
	top: 13px;
    text-decoration: none;
}


/*hovers*/

.container_foto:hover {
	cursor: pointer;
}

.container_foto:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}

.container_foto:hover h4 {
    opacity: 1;
}

.container_foto:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}




.contenedor {
	height: 100%;
	padding: 5% 0;
}



/* .container_foto {
    background-color: rgba(92, 92, 92, 0.7);
    padding: 0;
    overflow: hidden;
    max-width: 10px;
    margin: 5px;
    position: relative; 
} */

.container_foto article {
    padding: 10%;
    position: absolute;
    bottom: 0;
    z-index: 2; /* Increase z-index to make it appear on top of the image */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%; /* Make the article cover the entire width */
}

.container_foto h2 {
    opacity: 0;
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    border-bottom: #fff solid 1px;
    margin-bottom: 5px; /* Adjust margin as needed */
}

.container_foto h4 {
    opacity: 0;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
}

.container_foto img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 1; /* Lower z-index to make it appear below the article */
}


.ver_mas{
	background-color: #ffd12c;
	position: absolute;
	width: 100%;
	height: 80px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ver_mas span {
	font-size: 40px;
	color: #000;
	position: relative;
	margin: 0 auto;
	width: 100%;
	top: 13px;
}

.ver_mas_button {
    background-color: #929292;
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 70px);
    -webkit-transform: translate(0px, 70px);
    -moz-transform: translate(0px, 70px);
    -o-transform: translate(0px, 70px);
    -ms-transform: translate(0px, 70px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}



.ver_mas_button span {
    font-size: 40px;
    color: #000;
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 13px;
}


/*hovers*/

.container_foto:hover {
	cursor: pointer;
}

.container_foto:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}

.container_foto:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas .ver_mas_button{
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}

.container_foto:hover .ver_mas_button{
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}


#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 100%;
    z-index: 1;
  }


#para
{
    text-align: justify;

    /* font-weight: 100; */
    color: #fff;
    
}

b {
    color: #ffc900;
}

#about {

    font-family: 'Poppins';

}

.phone {
    color: #ffc900;
}

.phone a {
    color: #ffc900;
    text-decoration: none;
}

.btn {
    background-color: goldenrod;
    border: none;
    color: black;
    margin: 8px;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
  }

/*footer */


.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    padding: 10px;
  }
  
  .footer-links a:hover {
    transform: scale(1.4);
    transition: transform .3s ease-in-out;
  }

  .footer a {
    margin: 0 5px;
    transition: color 1s ease-in;
    color: #b6b6b6;
  }
  
  .footer #twitter:hover {
    color: #fff;
  }
  .footer #instagram:hover {
    color: #E1306C;
  }
  .footer #linked:hover {
    color: #0a66c2;
  }
  .footer #facebook:hover {
    color: #0a66c2;
  }
  .footer #gmail:hover {
    color: #b23121;
  }
  
  /* Media Query for Mobile View */
  @media only screen and (max-width: 600px) {
    .footer-links {
      flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
      justify-content: center; /* Center items */
    }
  
    .footer a {
      margin: 10px; /* Add some spacing between links */
    }
  
    .footer #twitter,
    .footer #facebook,
    .footer #gmail {
      width: 40px; /* Adjust width of icons for better spacing */
      height: 40px;
    }
    .footer #instagram {
        width: 80px;
        height: auto
    }
    .footer #linked {
        width: 60px;
        height: auto
    }
  }
  